<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum veritatis
    fuga nulla, dolorem repudiandae nobis voluptas aliquid ipsam dolorum quae
    architecto quaerat totam veniam excepturi earum eos quos neque sunt?
  </p>
  <form>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="contactData.name" />
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="contactData.email"
      />
    </div>
    <div>
      <label for="message"></label>
      <textarea
        id="message"
        name="message"
        [(ngModel)]="contactData.message"
      ></textarea>
    </div>
    <button type="submit" (click)="handleSendMessage()">Send Message</button>
  </form>
</section>
